<a href="https://colab.research.google.com/github/pateltej721/problem-sets/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#importing auto_mpg.csv data set

from google.colab import files
uploaded = files.upload()

Saving auto_mpg.csv to auto_mpg (1).csv

In [9]:
import io
df = pd.read_csv(io.BytesIO(uploaded['auto_mpg.csv']))

In [16]:
import pandas as pd
import numpy as np
import plotnine as pn
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

In [10]:
df

      mpg  cyl   disp   hp  ...  accel  year  origin                       name
0    18.0    8  307.0  130  ...   12.0    70       1  chevrolet chevelle malibu
1    15.0    8  350.0  165  ...   11.5    70       1          buick skylark 320
2    18.0    8  318.0  150  ...   11.0    70       1         plymouth satellite
3    16.0    8  304.0  150  ...   12.0    70       1              amc rebel sst
4    17.0    8  302.0  140  ...   10.5    70       1                ford torino
..    ...  ...    ...  ...  ...    ...   ...     ...                        ...
387  27.0    4  140.0   86  ...   15.6    82       1            ford mustang gl
388  44.0    4   97.0   52  ...   24.6    82       2                  vw pickup
389  32.0    4  135.0   84  ...   11.6    82       1              dodge rampage
390  28.0    4  120.0   79  ...   18.6    82       1                ford ranger
391  31.0    4  119.0   82  ...   19.4    82       1                 chevy s-10

[392 rows x 9 columns]

In [32]:
#creating predictor variable hp_sq by sqauring hp values
df['hp_sq'] = df.hp**2

In [37]:
x4 = df[['hp', 'hp_sq', 'weight', 'year']]

In [38]:
x4

      hp  hp_sq  weight  year
0    130  16900    3504    70
1    165  27225    3693    70
2    150  22500    3436    70
3    150  22500    3433    70
4    140  19600    3449    70
..   ...    ...     ...   ...
387   86   7396    2790    82
388   52   2704    2130    82
389   84   7056    2295    82
390   79   6241    2625    82
391   82   6724    2720    82

[392 rows x 4 columns]

In [42]:
model = LinearRegression().fit(x4, y)

In [43]:
model.score(x4, y)

0.8430948500605411

In [49]:
x5 = df[['hp', 'hp_sq', 'weight', 'year', 'cyl', 'disp', 'origin', 'accel']]
x5

      hp  hp_sq  weight  year  cyl   disp  origin  accel
0    130  16900    3504    70    8  307.0       1   12.0
1    165  27225    3693    70    8  350.0       1   11.5
2    150  22500    3436    70    8  318.0       1   11.0
3    150  22500    3433    70    8  304.0       1   12.0
4    140  19600    3449    70    8  302.0       1   10.5
..   ...    ...     ...   ...  ...    ...     ...    ...
387   86   7396    2790    82    4  140.0       1   15.6
388   52   2704    2130    82    4   97.0       2   24.6
389   84   7056    2295    82    4  135.0       1   11.6
390   79   6241    2625    82    4  120.0       1   18.6
391   82   6724    2720    82    4  119.0       1   19.4

[392 rows x 8 columns]

In [45]:
model = LinearRegression().fit(x5, y)

In [47]:
#using hp_sq with all other given predictor variables, gives higher R squared value than in class model
model.score(x5, y)

0.8552261337659224

In [48]:
#estimated regression coefficients of chosen model
print(model.intercept_, model.coef_)

1.3236564474061652 [-3.19463346e-01  1.00599032e-03 -3.27118411e-03  7.35341397e-01
  3.48906295e-01 -7.56485410e-03  1.01441303e+00 -3.30598068e-01]